/* Fonts
----------------------------------------------------------------------------------------------------*/

body{font-family: 'proxima_nova_ltlight', sans-serif;}
*:focus{outline: none!important}
a, .btn{-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;-ms-transition: all 0.3s;transition: all 0.3s;}
a:hover,a:focus{text-decoration: none;}
img{max-width: 100%}

h1, h2, h3{text-transform: uppercase;letter-spacing: 0.15em;}

/*Header*/
#header a{color: #848687;letter-spacing: 0.1em;}
#header a:hover{color: #000;}
#header #top{background-color: #E2E2E2;overflow: hidden;padding: 0;position: relative;z-index: 1;}
#header #top ul{margin: 0 0 0 -5px;}
#header #top li{margin: 0;padding: 0;}
#header #top a{display: inline-block;position: relative;padding: 6px 10px;font-size: 12px;color: #646464;font-family: 'proxima_nova_cn_rgregular' ,sans-serif;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;-ms-transition: all 0.3s;transition: all 0.3s;}
#header #top a:after{content: '';position: absolute;z-index: -1;width: 100%;height: 0;top: 0;left: 0;background-color: #6F6F6F;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;-ms-transition: all 0.3s;transition: all 0.3s;}
#header #top a:hover{color: #fff;}
#header #top a:hover:after{height: 100%;}
#header #top a.connect{padding: 6px 20px;float: right;text-transform: uppercase;}
#header #logo{padding: 40px 0;border-bottom: 1px solid #BEB6B3;}
#header #top-bottom{display: none;text-transform: uppercase;}
#header .navbar{margin-bottom: 0;margin-left: -20px;}
#header .navbar-nav{float: none;}
#header .navbar-nav>li>a{font-size: 18px;text-transform: uppercase;}
#header .navbar-nav>li>a:hover{background-color: transparent;}
#header .navbar-nav>li:last-of-type{float: right;}


/*slider*/
section.slider .carousel{}
section.slider .item{height: 500px; overflow: hidden;}
section.slider .item img{width: 100%;position: relative; top: 50%; transform: translateY(-50%);}
section.slider .control-carousel{opacity: .6; position: absolute; top: 50%; left: 1%; font-size: 22px; color: #fff; text-align: center; border-radius: 100%; width: 44px; height: 44px; line-height: 1.9; background-color: rgba(0,0,0,0.5); border: 3px solid #ccc; margin-top: -22px; }
section.slider .control-carousel.right{right: 1%;left: auto;}
section.slider .control-carousel:hover{opacity: 1;color: #fff;border-color: #fff;background-color: rgba(0,0,0,0.6);}
section.slider .control-carousel.left .fa{position: relative;left: -1px;top: -1px;}
section.slider .control-carousel.right .fa{position: relative;right: -1px;top: -1px;}
section.slider .carousel-indicators{}
section.slider .carousel-indicators li, section.slider .carousel-indicators li.active{position: relative;margin: 0 1px;width: 19px;height: 19px;background-color: rgba(0,0,0,0.7);opacity: .6;border: 2px solid rgba(255,255,255,0.8);border-radius: 100%}
section.slider .carousel-indicators li.active, section.slider .carousel-indicators li:hover{opacity: 1;}
section.slider .carousel-indicators li.active:after{content: ""; position: absolute;width: 5px;height: 5px;background-color: #fff;border-radius: 100%;left: 5px;top: 5px;}


/*contemporary-comfort*/
section.contemporary-comfort{text-align: center;padding: 86px 0;background: #E2E2E2 url(../img/bg-lines.png ) repeat;}
section.contemporary-comfort h2{font-size: 48px;font-family: 'proxima_nova_ththin', sans-serif;}
section.contemporary-comfort h3{font-size: 24px;}


/*building-information*/
.building-information{padding: 70px 0;line-height: 1;background: #F5F5F5 url(../img/bg-building.jpg) no-repeat center center;-webkit-background-size: cover; background-size: cover;}
.building-information h4, .building-information p{line-height: 1.5;}
.building-information .table h3{border-bottom: 1px solid #333;padding-bottom: 20px;}
.building-information .table dl{overflow: hidden;margin-bottom: 40px;text-transform: uppercase;}
.building-information .table dt, .building-information .table dd{font-weight: normal;min-height: 41px;padding: 10px 0;margin: 0;float: left;width: 70%;text-align: left;border-bottom: 1px solid #333;}
.building-information .table dd{width: 30%;text-align: right;}


/*our-products*/
.our-products{text-align: center;color: #333;overflow: hidden;}
.our-products .col4{width: 33.33333%;float: left;color: #333;display: block;}
.our-products footer{position: relative;z-index: 999;background-color: #E2E2E2;padding: 30px 0;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;-ms-transition: all 0.3s;transition: all 0.3s;}
.our-products .col4:hover footer{background-color: #333333;color: #fff;}
.our-products .col4 footer:after{content: '';width: 0;position: absolute;top: -30px;left: 50%;margin-left: -30px;z-index: 99; height: 0; border-style: solid; border-width: 0 30px 30px 30px; border-color: transparent transparent transparent transparent;}
.our-products .col4:hover footer:after{border-color: transparent transparent #333 transparent;}
.our-products img{width: 100%}
.our-products p{padding: 0 10%;min-height: 40px;}
.our-products h3{text-transform: uppercase;margin: 0 0 10px;}


/*get-in-touch*/
section.get-in-touch{text-align: center;padding: 85px 0;font-size: 16px;color: #808080;}
section.get-in-touch h1{font-family: 'proxima_nova_ththin', sans-serif;font-size: 40px;}
section.get-in-touch h4{font-size: 16px;font-family: 'proxima_nova_rgbold', sans-serif;}


/*contact-form*/
section.contact-form{background: url(../img/line-gray.png ) repeat;padding: 86px 0;}
section.contact-form .container{max-width: 770px}
section.contact-form a#show-form{display: none;color: #4d4d4d;font-size: 12px;margin: auto;text-align: center;background-color: #E1E1E1;border-radius: 100%;text-transform: uppercase;width: 106px;height: 106px;padding: 32px 0;}
section.contact-form a#show-form:hover{background-color: #333333;color: #fff;}
section.contact-form .form-control{padding: 30px;border-radius: 0; font-size: 16px;border: 4px solid #E1E1E1;-webkit-box-shadow: none;box-shadow: none;o-shadow: none;}
section.contact-form p{background-color: #fff;padding: 20px;font-size: 12px;}
section.contact-form .btn-lg{display: block;padding: 24px 0;font-size: 16px;border: none;background-color: #E1E1E1;color: #4d4d4d;border-radius: 0;width: 100%;}
section.contact-form .btn-lg:hover{background-color: #333333;color: #fff;}
section.contact-form textarea{height: 234px; width: 355px;}


/*Footer*/
footer#footer{padding: 60px 0 40px;}
footer#footer a{font-family: 'proxima_nova_rgbold', sans-serif;font-size: 16px;color: #808080;}
footer#footer a:hover{color: #000;}


@media screen and (max-width: 1200px){
    section.slider .item{height: 400px;}
}
@media screen and (max-width: 991px){
    #header .navbar-nav>li>a{font-size: 15px;padding: 12px;}
    section.slider .item{height: 300px;}
    .our-products p{height: 60px;}
}
@media screen and (max-width: 767px){
    .navbar-toggle span{background-color: #848687;}
    .navbar-toggle .icon-bar{width: 33px;margin: 0 0 8px;}
    .navbar-toggle{margin-top: -34px;}
    .navbar{min-height: 40px;}
    #header #logo{border: none;padding: 40px 0 0;}
    #header .navbar{margin-left: 0;}
    #header .navbar-nav{height: 55px;border-top: 1px solid #E2E2E2;border-bottom: 1px solid #E2E2E2;padding: 5px 0;}
    #header .navbar-nav>li{float: left; }
    #header .navbar-nav>li:nth-of-type(5){float: none;}
    #header .navbar-nav>li:last-of-type {float: left; padding: 7px 0;}
    #header .navbar-nav>li a{font-size: 18px;}
    .our-products .col4{width: 340px;margin: 0 auto;float: none;}
    section.contact-form textarea{width: 100%;}
    .building-information h4, .building-information p{padding-right: 0;}
    .our-products footer{padding: 14px 0;}
    .our-products h3{font-size: 18px;}
    .our-products p{height: auto;min-height: 0;padding: 0 2%;}
    footer#footer ul{margin: 40px 0 30px;}
    footer#footer li{display: block;padding: 3px 0;}
}
@media screen and (max-width: 630px){
    #header .navbar-nav{height: auto;position: relative;padding: 0;}
    #header .navbar-nav>li{float: none;width: 49%;border-right: 1px solid #E2E2E2;}
    #header .navbar-nav>li:last-of-type{position: absolute;top: 0;right: 0;border: none;padding: 0;}
}   
@media screen and (max-width: 480px){
    #header #logo a{width: 80%;display: block;}
    #header .navbar-nav>li a{font-size: 14px;}
    .navbar-toggle {margin-top: -30px; }
    .navbar-toggle .icon-bar {width: 25px; margin: 0 0 7px; }
    section.contemporary-comfort{padding: 28px 0;}
    section.contemporary-comfort h3{font-size: 14px;}
    section.contemporary-comfort h2{font-size: 28px;}
    .our-products .col4 {width: 280px;}
    section.contact-form a#show-form{display: block;}
    section.contact-form form{display: none;}
    #header #top{display: none;}
    #header #top-bottom{display: block;margin-bottom: 10px;}
    #header #top-bottom .in-left{float: left;}
    #header #top-bottom a{margin-right: 10px;}
}   

@media screen and (max-width: 410px){
    #header #top-bottom{display: block;margin-bottom: 10px;}
    #header #top-bottom .in-left{float: none;}
    #header #top-bottom a{margin-right: 10px;font-size: 12px;}
}
/*
|------------------------------------------------------------------------------------
| Min-width
|------------------------------------------------------------------------------------
*/
@media (min-width: 300px){/*500-800*/
    .container {width: 100%;padding: 0 20px;}
}
@media (min-width: 500px){/*500-800*/
    .container {width: 100%;padding: 0 40px;}
}
@media (min-width: 800px){/*800-1600*/
    .container {width: 100%;padding: 0 50px;}
}
